<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aqualife/src/aqua/blatt1/client/Aqualife.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aqua.blatt1.client.Aqualife"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aqualife"/>
</launchConfiguration>
